#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

export PYBUILD_NAME=pass-dmenu
export http_proxy=127.0.0.1:9
export https_proxy=127.0.0.1:9

override_dh_auto_build:
	dh_auto_build
	(cd docs; make)

override_dh_auto_clean:
	dpkg-source -i -I --before-build .
	dh_auto_clean
	dpkg-source -i -I --after-build .

override_dh_clean:
	dh_clean
	(cd docs; make clean)
	rm -rf pass_dmenu.egg-info

%:
	dh $@ --with python3 --buildsystem=pybuild
